@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base colors */
    --background: 0 0% 0%; /* Pure black */
    --foreground: 0 0% 100%; /* Pure white */

    /* Gray scale */
    --gray-100: 0 0% 100%; /* White */
    --gray-200: 0 0% 90%; /* Very light gray */
    --gray-300: 0 0% 80%; /* Light gray */
    --gray-400: 0 0% 60%; /* Medium gray */
    --gray-500: 0 0% 40%; /* Dark gray */
    --gray-600: 0 0% 20%; /* Very dark gray */
    --gray-700: 0 0% 10%; /* Nearly black */
    --gray-800: 0 0% 5%; /* Almost black */
    --gray-900: 0 0% 0%; /* Pure black */

    /* UI Elements */
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 80%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --header: 0 0% 10%;
    --header-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 100%;

    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 0% 50%;
    --destructive-foreground: 0 0% 100%;

    --ring: 0 0% 20%;

    /* Sidebar */
    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 10%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 0 0% 40%;

    --primary-accent: 243 75.4% 58.6%;
    --hover-primary-accent: 239 83.5% 66.7%;

    --muted-green: 84 81% 44%;
    --muted-magenta: 330 90% 70%;
    --muted-blue: 239 84% 67%;
    --muted-gray: 210 50% 91.1%;

    --accent-light-green: 138 76.5% 96.7%;
    --accent-dark-green: 112 100% 32%;

    --light-red: 329 77.8% 94.7%;
    --dark-red: 0 72.2% 50.6%;

    --light-yellow: 55 91.7% 95.3%;
    --dark-yellow: 43 96% 40%;

    --light-green: 141 84.2% 92.5%;
    --dark-green: 176 60.8% 19%;

    --light-blue: 214 94.6% 92.7%;
    --dark-blue: 217 91.2% 59.8%;

    --accent-light-blue: 251 95.2% 91.8%;
    --accent-dark-blue: 224 76.3% 38%;
    --radius: 0.5rem;
  }

  .dark {
    /* Use the same values as :root since we want the same black & white theme in both modes */
    /* Copy all the values from :root here */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  html,
  body,
  div#__next,
  div#__next > div {
    height: 100%;
  }
}

@layer base {
  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"].appearance-none {
    -moz-appearance: textfield;
    appearance: none;
  }
}
