---
name: Codespell

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
    branches:
      - "**"
  merge_group:

permissions:
  contents: read

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Codespell
        uses: codespell-project/actions-codespell@v2
        with:
          skip: "*.lock,*.svg,./web/.next,./node_modules,./web/node_modules,./worker/node_modules,./packages/*/node_modules,./packages/*/dist,./worker/dist,./pnpm-lock.yaml"
          ignore_words_list: "te,dateA"
